#container{
  background: url(weather1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#header{
  width: 100%;
  height: 70px;
  background-color: rgba(240, 184, 44, 0.3);
}
.title-text {
  color: rgba(245, 235, 212, 0.9);
}
#main {
  top: 300px;
}
#toggleBtn{
  margin-left: 45%;
}
#input:hover,
focus {
  background-color: rgb(226, 176, 128);
}
#btn:hover,
active {
  background-color: goldenrod;
}
input,
#btn:focus {
  outline: none;
}
#weatherReport{
  padding:5%;
  margin-top: 5%;
}
.card {
  width: 400px;
}
#temp {
  font-size: 35px;
}
#weatherDetail {
  font-size: 30px;
}
.card-text {
  font-size: 13px;
}
 